bin
Release
Debug
.settings
dep
eeprom.bin
*.o
*.lss
*.elf
*.eep
*.map
*.uze
*.dll
*.exe
*.log
*.bak
gdb-script.cfg
/.metadata/
*.WAV

*.a
*.wav
.metadata/
roms/
demos/UzeboxPC/data/diskimg/notes a alec.txt

demos/UzeboxPC/default/a.out

demos/UzeboxPC/default/esp.cfg

demos/UzeboxPC/default/cpm22.inc
