bin
Release
Debug
.settings
dep
eeprom.bin
*.o
*.lss
*.elf
*.eep
*.map
*.uze
*.dll
*.exe
*.log
*.bak
gdb-script.cfg
/.metadata/
*.WAV

*.a
*.wav
.metadata/
roms/
demos/UzeboxPC/default/cpm22.inc

demos/UzeboxPC/.vs/UzenetDemo/v14/.atsuo

demos/UzeboxPC/UzenetDemo.atsln

demos/UzeboxPC/UzenetDemo.componentinfo.xml

demos/UzeboxPC/UzenetDemo.cproj
