bin
Release
Debug
.settings
dep
eeprom.bin
*.o
*.lss
*.elf
*.eep
*.map
*.uze
*.dll
*.exe
*.log
*.bak
gdb-script.cfg
/.metadata/
*.WAV

*.a
*.wav
.metadata/
roms/
demos/UzeboxPC/data/diskimg/notes a alec.txt
demos/UzeboxPC/default/a.out
demos/UzeboxPC/default/esp.cfg
demos/UzeboxPC/default/cpm22.inc
demos/UzeboxPC/.vs/UzenetDemo/v14/.atsuo
demos/UzeboxPC/UzenetDemo.atsln
demos/UzeboxPC/UzenetDemo.componentinfo.xml
demos/UzeboxPC/UzenetDemo.cproj
MovieDemo

cad/Enclosures/Uzebox-PC/V1.0/assets/image1.png

cad/Enclosures/Uzebox-PC/V1.0/readme.md

demos/UzeboxPC/default/netstat.lst

demos/UzeboxPC/default/netstat.p

*.COM
